html{
    font-family: sans-serif;

}

#left {
    float: left;
     width: 49%;
     text-align: center;
     background-color: white;
     margin: 0;
     margin-right: 0;
     border-right:0 ;
     color:aqua;
   }
#right {
     float: right;
     width: 51%;
     text-align: center;
     background-color: white;
     margin-left: 0px;
   }

h3{
    word-spacing: 10px;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 2px;
}
body{
    background-color: lawngreen;
}
a{
    text-decoration: none;
    color:black;
}

section{
    background-color: white;
    margin-left: -8px;
}
navbar{
    width: 100%;
    margin: -8px;
    border: -5px;
    position: fixed;
    top:8px;
}
main{
    position: fixed;
    top: 50%;
    left:50%;
    margin: 0;
    border: 0;
    text-align: center;
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    padding: 7px;
    border-radius: 7px;

}
h1{
    font-size: 30px;
}

button{
    position: fixed;
    top: 75%;
    left:50%;
    margin: 0;
    border: 0;
    text-align: center;
    transform: translate(-50%,-50%);
    color: white;
    background-color: red;
    padding: 7px;
    border-radius: 7px;
    border:1px solid white;
    box-shadow: 0px 0px 20px white;
}
